body{
    background-color: black;

}

#enemy{
margin-top: 100px;
margin-bottom: 50px;
margin-left: 300px;    
object-fit: contain;

}

.styleLifeEnemy{

    background-color: rgb(255, 217, 0);
    height: 30px;
    width: 300px;
    margin-bottom: 40px;

}

#btnAtacar {
background-color: rgb(31, 238, 12);
height: 30px;
width: 100px;

}
#btnReceber {
background-color: rgb(255, 0, 0);
height: 30px;
width: 200px;

}

#player{
margin-left: 300px;    
object-fit: contain;
}

.styleLifePlayer{

    background-color: blue;
    height: 30px;
    width: 300px;
    margin-top: 70px;

}
