body{
    background-color: black;
}

#centerContent{
text-align: center;
color: red;
font-size: 30px;
display: flex;
flex-direction: column;
align-items: center;
}

#centerContent #player{
width: 400px;
height: 400px;
object-fit: contain;
}


#centerContent #buttonAttack{
    color: rgb(255, 255, 255);
    background-color: red;
    height: 30px;
    width: 100px;
    margin-top: 20px;

}


 
