.centerContent {
    text-align: center;
}

.styleDivLifeBar {
    background-color: rgb(47, 255, 75); 
    width: 200px; 
    height: 30px; 
    margin: auto;
}

.styleButton {
    background-color: rgb(81, 84, 230); 
    height: 45px;
}