.centerContent {
    text-align: center;
}

.styleDivLifeBar {
    background-color: greenyellow; 
    width: 200px; 
    height: 30px; 
    margin: auto;
}

.styleButton{
    background-color: rgb(0, 16, 241); 
    height: 45px;
}